table {
    table-layout: fixed;
}

.bingoCol {
    text-align: center;
    cursor: pointer;
}

.bingoMarked {
    background-color: var(--user-color);
}

#history {
    padding: 0;
}

#history li {
    display: inline-block;
    list-style-type: none;
    font-size: 1.1rem;
    width: 74px;
    text-align: center;
}

#history li {
	background-color: #fff;
    color: black;
}

#history li:first-of-type {
	background-color: #000 !important;
	color: white !important;
}